extends layout

block content
  h1= title
  p Welcome to a website for shortening URLs
  p Example call: 'https://url-shortener-crumrinev2.glitch.me/new/http://www.google.com'
  p Have a bash :)
  p You can also do 'url-shortener-crumrinev2.glitch.me/B1eYROi$b' to be redirected to google.com. If only we could shorten this url...
